body {
    background: lightgrey;
}

h1 {
    text-align: center;
    font-size: 72px;
    color: red;
}
@media screen and (max-width: 768px) {

    body {
      background-color: orange;
    }
   }
#links {
    text-align: center;
    margin: 20px;
}
#boot {
    margin-right: 25px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}