body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

body * {
    background: #ebebeb;
    float: left;
    text-align: center;
}

body > * {
    padding: 30px 0;
    margin: 10px 0;
    width: 100%;
}

#section {
    width: 60%;
    padding-bottom: 5px;
    height: 200px;
    margin: 10px 0;
    margin-right: 3%;
}
#article {
    background: #777;
    color:#ebebeb;
    width: 90%;
    margin: 10px 0;
    padding: 10px 0;
    margin-left: 5%;
    margin-right: 5%;
}
h1 {
font-size: 18px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#article > div {   
    color: #777;
    width: 80%;
    margin: 10px 0;
    padding: 10px 0;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    width: 100%;
    padding: 0;
    margin: 0;
}
#aside {
    width: 37%;
    padding-bottom: 5px;
    height: 200px;
    height: 200px;
}