body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header {
    background: #ebebeb;
    color:#777;
    text-align: center;
    padding: 30px;
    margin: 10px;
}
#nav {
    background: #ebebeb;
    color:#777;
    text-align: center;
    padding: 30px;
    margin: 10px;
}
#section {
    background: #ebebeb;
    color:#777;
    width: 66.6%;
    text-align: center;
    padding: 30px;
    margin: 20px;
    height: 200px;
}
#article {
    background: #777;
    color:#ebebeb;
    width: 495px;
    text-align: center;
}
h1 {
    background: #ebebeb;
    color:#777;
    width: 495px;
    text-align: center;
}    
p {
    background: #ebebeb;
    color:#777;
    width: 495px;
    text-align: center;
}
#aside {
    background: #ebebeb;
    color:#777;
    width: 33.3%;
    text-align: center;
    height: 200px;
}
footer {
    background: #ebebeb;
    color:#777;
    text-align: center;
    padding: 30px;
    margin: 10px;
    clear: both;
}